* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 15%;
    background-color: red;
    flex-shrink: 0;
}
.bodycontainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.bodyone {
    z-index: 3;
    height: 80%;
    width: 60%;
    background-color: white;
    position: absolute;

}
.bodytwo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 2;
}

.firstboard,
.secondboard{
    width: 500px;
    height: 500px; 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.popboard {
    width: 300px;
    height: 300px; 
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bodyonecontainer {

    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
}



.footer {
    height: 15%;
    background-color: black;
    flex-shrink: 0;
}



.row,
.column {
    flex-grow: 1;
}

.row {
    display: flex;


}

.column {
    border: 1px solid black;
}

.column:hover {
    background-color: ghostwhite;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
}

.playbutton {
    width: 200px;
}